@*@model IEnumerable< Day_2_API_Consumer_Lab.Controllers.CategoryController>*@
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<br />
<table class="table-hover">
    <tr>
        <th class="col-lg-1">ID</th>
        <th class="col-lg-1">Name</th>
    </tr>
    <tr>
        <td class="col-lg-1">@ViewBag.Result.Id</td>
        <td class="col-lg-1">@ViewBag.Result.Name</td>
    </tr>


</table>